.footer-container {
  position: fixed;
  bottom: 0;
  height: 50px;
}

@media only screen and (max-width: 480px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    height: 75px;
  }
}
